<style type="text/css">
body {
background-color: #999999;
font-size:12px;
font-family:Verdana, Arial, Helvetica, sans-serif;
}

a#button{
padding: 20px 100px;
background-color: #229900;
text-decoration: none;
border: 1px solid AADD00;
color: white;
display: table;
border-bottom: 1px solid AADD00;
text-shadow: 0px -1px white;
border-radius: 3px;
text-align: center;
-webkit-border-radius: 3px;
margin-left: 0%;
margin-top: 0%;
}
a#button:hover {
color:white;
background-color: #22AD00;
text-decoration: none !important;
}
a:hover{
color:white;
text-decoration: none !important;
}

div#wrapper{
background-color:#400000;
padding:100px;
margin-bottom: 33px;

}

div#upper_right{
margin-left: 55%;
color: white;
font-size: 15px;
margin-top: 0%;
}

div#upper_right > h2{
padding-bottom:20px;
}

div#upper_left{
float: left;
position: absolute;
top: 44px;
}

div#upper_left > img{
height: 249px;
width: 299px;
}
.container-fluid {
padding-left: 100px !important;
padding-right: 100px !important;
}

div#footer_panel{
background-color:#400000;

}

div#header{
padding-left:40px;
padding-bottom:20px;
padding-top:20px; 
background-color:#280000;

}

div#header > a{
color:white;
font-size:18px;
padding: 0px 30px;
}

div.footer{
color: #606060;
text-align:center;
}

a#logo{
font-weight: bold;
font-size:30px !important;
}
a.about{
float:right;
}



div#footer_bottom{
padding-left:40px;
padding-bottom:0px;
padding-top:20px; 
background-color:#280000;

}


div#container_feeds{
width:70%;
margin-left:15%;
margin-right:15%;
margin-top:5%;
}
div.row_feed{
overflow: hidden;
padding-left:30px;
padding-right:30px;
padding-top:4px;
padding-bottom:4px;
border: 1px solid grey;
margin-top: 5px;
border-radius:5px;
}
div.edit > span{
float:right;
padding:2px;
}
div.feed{
margin:2px;
overflow: hidden;
}
div.tags , div.edit {
margin-left:60%;
overflow: hidden;
}

div.feed{
overflow:hidden;
}

div.tags > span {
float:right;
padding:2px;
margin:1px 2px;
color:white;
background-color:#A8A8A8 ;
cursor: pointer;
}

div.modal{	
width: 440px;
left: 700px;
	
}
.overlay {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: #505961;
opacity: .5;
filter: alpha(opacity = 50);
z-index: 100;

}

div.modal{
	padding:10px;
	background-color:rgba(90,80,80,0.5);
	overflow:hidden;
	border-radius:5px;
}

div.edit_cancel > a {
color: white ;
background-color:#400000;
padding:5px ;
float:right;
margin-right:10px;
font-size:15px;

}

div.modal_update > a {
color: white ;
background-color:#400000;
padding:5px ;
float:right;
margin-right:10px;
font-size:15px;

}

div.modal_header{
	background-color:#400000;
	padding:10px 5px;
	color:white;
	text-align:center;
	font-size:20px;
}
div.modal_header > p{
	font-size:18px
}

div.edit_cancel{
	padding:10px;
	overflow:hidden;
    background-color:white;
	
}
div.modal_update{
	padding:10px;
	overflow:hidden;
    background-color:white;
	
}
div.content{
	padding:10px;
	background-color:white;
}

div.content > input{
	color:black;
	width:413px;
	font-size:15px;
}
a#update_button{
padding:10px 5px;
background-color: #227700;
text-decoration: none;
border: 1px solid AADD00;
color: white;
display: table;
border-bottom: 1px solid AADD00;
text-shadow: 0px -1px white;
border-radius: 5px;
text-align: center;
margin-left: 0%;
margin-top: 0%;
}
a#update_button:hover{
background-color: #229900;
	
}
a#loadmore{
padding:10px 5px;
background-color: #227700;
text-decoration: none;
border: 1px solid AADD00;
color: white;
display: table;
border-bottom: 1px solid AADD00;
text-shadow: 0px -1px white;
border-radius: 5px;
text-align: center;
margin-left: 0%;
margin-top: 0%;
}
a#loadmore:hover{
background-color: #229900;
	
}
div.edit > span > img{
	cursor:pointer;
}

div.feed > span > a:hover{
	color:#08C;
}
div#update_search{
	overflow:hidden;
}
div#update_search > a{
	float:left;
}
div#update_search > input{
	float:right;
	margin-bottom:0px;
	height:40px;
	padding-left:2px;
}

div#header_notification{
padding-left:40px;
padding-bottom:20px;
padding-top:20px; 
background-color:#280000;
color:white;
text-align:center;
}
a{
	cursor:pointer;
}

</style>
